body,
html {
  height: 99.5%;
  background: url("./../assets/background-pic.jpg") no-repeat;
  background-size: cover;
}

#main-content {
  display: none;
}

.game-container {
  display: flex;
  justify-content: center;
  height: 20vw;
  width: 20vw;
  align-items: center;
  position: fixed;
  top: 30vh;
  right: 40vw;
}

.container-grid {
  width: inherit;
  height: inherit;
  border: 1px solid black;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(230, 228, 228);

  &__cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    > span {
      font-size: 40px;
    }
  }
}

.chat-room {
  position: fixed;
  box-sizing: border-box;
  right: 1rem;
  bottom: 2rem;
  height: 90vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 0.5rem;
  background: white;

  &__cell {
    position: absolute;
    margin-left: 0.1rem;
    width: 24vw;
    bottom: 1rem;
    border: white;
    outline: none;
    border-bottom: 1px solid black;
  }

  &__chats {
    height: 84vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &-message {
      word-wrap: break-word;
    }
  }
}

#clock-container {
  background: url("./../assets/empty_clock.PNG");
  background-size: 100%;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .clock-container-hand {
    position: relative;
    background-color: black;
    transform-origin: bottom;
  }

  &-hour {
    bottom: 12.4%;
    right: -0.8%;
    width: 2%;
    height: 24%;
  }

  &-minute {
    bottom: 18.4%;
    right: 1%;
    width: 1.2%;
    height: 35%;
  }

  &-second {
    bottom: 22.4%;
    right: 1.74%;
    width: 0.74%;
    height: 44%;
  }
}

#user-name {
  position: fixed;
  top: 40vh;
  left: 40vw;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;

  label {
    margin-left: 0.8rem;
    margin-bottom: 0.4rem;
  }

  &-input {
    height: 2vh;
    width: 16vw;
  }
}

#error-content {
  position: fixed;
  top: 40vh;
  left: 40vw;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  display: none;

  &-button {
    background-color: #0e0218;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
}
