.container-grid {
  border: 1px solid black;
  display: inline-grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  background-color: rgb(230, 228, 228);
  margin: 240px 400px;
  position: fixed;
  right: 15rem;

  &__cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    > span {
      font-size: 40px;
    }
  }
}

.chat-room {
  position: fixed;
  box-sizing: border-box;
  right: 1rem;
  bottom: 2rem;
  height: 90vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 0.5rem;

  &__cell {
    position: absolute;
    margin-left: 0.1rem;
    width: 14.4rem;
    bottom: 1rem;
    border: white;
    border-bottom: 1px solid black; 
  }

  &__chats {
    &-message {
      word-wrap: break-word;
    }
  }
}
